@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
  }

body{
    overflow-x: hidden;
    width: 100%;
    background-color: #131722;
}

.body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background: url(img/bg.png) no-repeat center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

@media (max-width: 858px){
    .body{
        background: url(img/mobile-bg.png) no-repeat center;
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 90vh;
    }
}

@media (min-width: 390px) and (max-width: 414px){
    .body{
        background: url(img/mobile-bg.png) no-repeat center;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 70vh;
    }
}

@media (min-width: 200px) and (max-width: 300px){
    .body{
        background: url(img/mobile-bg.png) no-repeat center;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 90vh;
    }
}

@media (min-width: 767px) and (max-width: 821px){
    .body{
        background: url(img/bg.png) no-repeat center;
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 40vh;
        
    }
}

/*Header start********************/
nav{
    background: transparent;
    height: 80px;
    width: 100%;
  }
  label.logo img{
    color: white;
    width: 201.17px;
    height: 52px;
    padding: 15px 100px 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 90px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
  
  }
  a.active{
    background: #f5f5f5;
    color: #131722;
  }
  a:hover{
    background: #f5f5f5;
    color: #A259FF;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo img{
        padding: 22px 10px 0 30px;
        width: 132.72px;
        height: 35px;

    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (min-width: 953px) and (max-width: 1062px){
    label.logo img{
        padding-top: 50px;
        padding-left: 30px;
    }
    
    nav ul li{
      margin: 0;
        padding: 30px 0 0 0;

    }
  }
  
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #131722;
      top: 60px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #A259FF;
    }
    #check:checked ~ ul{
      left: 0;
      z-index: 1;
    }
  }
/*Header end********************/




/*Hero start********************/
.hero{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.hero-content{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 350px;
    margin-top: 150px;
}

.hero .hero-content h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    color: #fff;
    line-height: 60px;
    margin-bottom: 15px;
}

.hero .hero-content p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16.8101px;
    padding: 0 50px;
    color: #898CA9;
}

.hero-content .btn1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16.8101px;
    padding: 10px;
    width: 30%;
    margin: 0 auto;
    border-radius: 10.5063px;
    color: #fff;
    background: #A259FF;
    border-radius: 5px;
    margin-top: 20px;
    transition: all .5s;
}

.hero-content .btn1:hover, .hero-content .btn1:active{
    background: #fff;
    color: #A259FF;
} 
/*Hero end********************/


/*Hero Mobile start********************/
@media (min-width: 200px) and (max-width: 300px){
    .hero-content{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 01px;
        margin-top: 130px;
    }

    .hero .hero-content h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        color: #fff;
        line-height: 30px;
        margin-bottom: 0px;
    }
    
    .hero .hero-content p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12.8101px;
        padding: 0 5px;
        color: #898CA9;
    }
    
    .hero-content .btn1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12.8101px;
        padding: 10px;
        width: 30%;
        margin: 0 auto;
        border-radius: 10.5063px;
        color: #fff;
        background: #A259FF;
        border-radius: 5px;
        margin-top: 20px;
        transition: all .5s;
    }
    
}

@media (min-width: 350px) and (max-width: 376px){
    .hero-content{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 3px;
        margin-top: 170px;
    }

    .hero .hero-content h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        color: #fff;
        line-height: 30px;
        margin-bottom: 2px;
    }
    
    .hero .hero-content p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12.8101px;
        padding: 0 50px;
        color: #898CA9;
    }
    
    .hero-content .btn1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12.8101px;
        padding: 10px;
        width: 30%;
        margin: 0 auto;
        border-radius: 10.5063px;
        color: #fff;
        background: #A259FF;
        border-radius: 5px;
        margin-top: 20px;
        transition: all .5s;
    }
    
}
@media (min-width: 377px) and (max-width: 858px){
    .hero-content{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 3px;
        margin-top: 130px;
    }

    .hero .hero-content h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 23px;
        color: #fff;
        line-height: 30px;
        margin-bottom: 2px;
    }
    
    .hero .hero-content p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12.8101px;
        padding: 0 50px;
        color: #898CA9;
    }
    
    .hero .hero-content .btn1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12.8101px;
        padding: 10px;
        width: 30%;
        margin: 0 auto;
        border-radius: 10.5063px;
        color: #fff;
        background: #A259FF;
        border-radius: 5px;
        margin-top: 20px;
        transition: all .5s;
    }
    
}
/*Hero Mobile End********************/



/*Hero Tablet start********************/

@media (min-width: 539px) and (max-width: 541px){
    .body{
        height: 100vh;
    }
    .hero-content{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 3px;
        margin-top: 220px;
    }
}   

@media (min-width: 767px) and (max-width: 819px){
    .hero-content{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 70px;
        margin-top: 20px;
    }
}   

@media (min-width: 819px) and (max-width: 820px){
    .hero-content{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 70px;
        margin-top: 70px;
    }
}  
@media (min-width: 913px) and (max-width: 1200px){
    .hero-content{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 190px;
        margin-top: 60px;
    }
    .hero .hero-content h1{
        font-size: 35px;
        margin-bottom: 2px;
    }

    .hero-content .btn1{
        margin-bottom: 40px;
    }
}

@media (min-width: 911px) and (max-width: 912px){
    .body{
        height: 40vh;
    }
    .hero-content{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 190px;
        margin-top: 60px;
    }
    .hero .hero-content h1{
        font-size: 35px;
        margin-bottom: 2px;
        line-height: 50px;
    }

    .hero-content .btn1{
        margin-bottom: 40px;
    }
}

@media (min-width: 1200px) and (max-width: 1280px){
    .hero-content{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 190px;
        margin-top: 130px;
    }

}
/*Hero Tablet end********************/



/*Most Popular start********************/


.most-popular{
    background-color: #131722;
    margin-top: 0px;
    height: auto;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    
}

.most-popular h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: #fff;
    line-height: 30px;
    padding-top: 100px;
    padding-left: 75px;
    padding-bottom: 60px;
    margin: -3px;
    text-align: left;
}

.most-popular .btn2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16.8101px;
    padding: 10px;
    width: 15%;
    margin: 0 auto;
    border-radius: 10.5063px;
    color: #fff;
    background: #A259FF;
    border-radius: 5px;
    margin-top: 20px;
    transition: all .5s;
    
}

.most-popular .btn2:hover, .most-popular .btn2:active{
    background: #fff;
    color: #A259FF;
} 

/*Most Popular end********************/



/*Most Popular Mobile start********************/
@media (max-width: 858px){
    body{
        overflow-x: hidden;
    }
   
    .most-popular{
        background-color: #131722;
        margin-top: 0px;
        height: auto;
    }
.most-popular h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    color: #fff;
    line-height: 30px;
    padding-top: 50px;
    padding-left: 40px;
    margin: -3px;
}

.most-popular .btn2{
    width: 40%;
}

}

/*Most Popular Mobile end********************/

/*Section3 Start********/
.section3{
    margin-top: 50px;
    display: flex;
    background: url(img/section3.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: auto;
}

.text{
    float: left;
    width: 100%;
    margin-left: 70px;
    margin-top: 90px;
}

.section3 .text h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    color: #fff;
    line-height: 50px;
    padding-top: 50px;
    padding-left: 75px;
    padding-bottom: 10px;
}

.section3 .text p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #898CA9;
    line-height: 25px;
    padding-top: 5px;
    padding-left: 75px;
    padding-bottom: 30px;
}

.section3 .text .btn3{   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12.8101px;
    padding: 10px 20px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10.5063px;
    color: #fff;
    background: #A259FF;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 75px;
    transition: all .5s;
}

.text .btn3:hover,.text .btn3:active{
    background: #fff;
    color: #A259FF;
} 

.section3 .img img{
    margin-top: 80px;
    margin-right: 50px;
}


/*Section3 mobile start********/
@media (max-width: 858px){
    .section3{
        background: #131722;
        background-size: contain;
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .section3 .text{
        align-items: center;
        text-align: center;
        padding: 0;
        float: none;
        margin-left: 0;
        margin-top: 30px;

    }
    .section3 .text h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 34px;
        color: #fff;
        line-height: 40px;
        padding-top: 20px;
        padding-left: 0;
        padding-bottom: 10px;
    }
    .section3 .text p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #898CA9;
        line-height: 25px;
        padding-top: 5px;
        padding-left: 0px;
        padding-bottom: 30px;
    }
    .section3 .text .btn3{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12.8101px;
        padding: 10px 30px;
        width: 100%;
        margin: 0 auto;
        border-radius: 10.5063px;
        color: #fff;
        background: #A259FF;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 0px;
        transition: all .5s;
    }
    .section3 .img img{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        transform: scale(0.9);
    }
}
.section3{
    background-color: #131722;
}
/*Section3 mobile End********/

/*Section3 Tablet Start********/
@media (min-width: 911px) and (max-width: 1024px){
    .section3{
        background: #131722;
        background-size: contain;
        width: 100%;
        height: auto;
  
    }
    .section3 .text{
        align-items: left;
        text-align: left;
        padding: 0;
        float: none;
        margin-left: 60px;
        margin-top: 30px;
        

    }
    .section3 .text h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        color: #fff;
        line-height: 40px;
        padding-top: 20px;
        padding-left: 0;
        padding-bottom: 10px;
    }
    .section3 .text p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #898CA9;
        line-height: 25px;
        padding-top: 5px;
        padding-left: 0;
        padding-bottom: 30px;
    }
    .section3 .text .btn3{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12.8101px;
        padding: 10px 30px;
        width: 100%;
        margin: 0 auto;
        border-radius: 10.5063px;
        color: #fff;
        background: #A259FF;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 0px;
        transition: all .5s;
    }
    .section3 .img img{
        margin-top: 20px;
        margin-right: 100px;
        width: 90%;
        transform: scale(1);
    }
}
/*Section3 Tablet End********/
/*Section3 end********/

/*footer start********/
footer {
    color: #f5f5f5;
    font-size: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 600; 
    padding-top: 20px;
    text-decoration: none;
    margin-top: 20px; 
    margin-bottom: 30px;
    font-family: 'Inter';
}
 
footer p a{
    color: #A259FF;
    text-decoration: none;
    font-weight: 700;
}

footer p a:hover, footer p a:active{
    color: #fff;
    background: transparent;
}

/*footer mobile start********/
  @media (max-width: 500px){
    footer{
        font-size: 16px;
        font-weight: 600;
    }
    footer p a{
        font-weight: 800;
    }
  }

/*footer end********/


