@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background: url(img/bg.png) no-repeat center;
    background-size: cover;
    background-position: top;
    /*height: 100vh;*/
    width: 100%;
}

@media (max-width: 858px){
    body{
        background: url(img/mobile-bg3.png) no-repeat center;
        background-size: cover;
        background-position: top;
        width: 100%;
    }
}

/*Header start********************/
nav{
    background: transparent;
    height: 80px;
    width: 100%;
  }
  label.logo img{
    color: white;
    width: 201.17px;
    height: 52px;
    padding: 15px 100px 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 90px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
  
  }
  a.active{
    background: #f5f5f5;
    color: #131722;
  }
  a:hover{
    background: #f5f5f5;
    color: #131722;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo img{
        padding: 22px 10px 0 30px;
        width: 132.72px;
        height: 35px;

    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (min-width: 953px) and (max-width: 1062px){
    label.logo img{
        padding-top: 50px;
        padding-left: 30px;
    }
    
    nav ul li{
      margin: 0;
        padding: 30px 0 0 0;

    }
  }
  
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #131722;
      top: 60px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #A259FF;
    }
    #check:checked ~ ul{
      left: 0;
      z-index: 1;
    }
  }
/*Header end********************/




/*Hero start********************/
.hero{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.hero-content{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 350px;
    margin-top: 150px;
}

.hero-content h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    color: #fff;
    line-height: 60px;
    margin-bottom: 15px;
}

.hero-content p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16.8101px;
    padding: 0 50px;
    color: #898CA9;
}

.hero-content .btn1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16.8101px;
    padding: 10px;
    width: 30%;
    margin: 0 auto;
    border-radius: 10.5063px;
    color: #fff;
    background: #A259FF;
    border-radius: 5px;
    margin-top: 20px;
    transition: all .5s;
}
/*Hero end********************/


/*Hero Mobile start********************/
@media (min-width: 200px) and (max-width: 300px){
    .hero-content{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 3px;
        margin-top: 120px;
    }

    .hero-content h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        color: #fff;
        line-height: 30px;
        margin-bottom: 0px;
    }
    
    .hero-content p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12.8101px;
        padding: 0 50px;
        color: #898CA9;
    }
    
    .hero-content .btn1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12.8101px;
        padding: 5px;
        width: 30%;
        margin: 0 auto;
        border-radius: 10.5063px;
        color: #fff;
        background: #A259FF;
        border-radius: 5px;
        margin-top: 20px;
        transition: all .5s;
    }
    
}

@media (min-width: 350px) and (max-width: 376px){
    .hero-content{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 3px;
        margin-top: 120px;
    }

    .hero-content h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        color: #fff;
        line-height: 30px;
        margin-bottom: 2px;
    }
    
    .hero-content p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12.8101px;
        padding: 0 50px;
        color: #898CA9;
    }
    
    .hero-content .btn1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12.8101px;
        padding: 5px;
        width: 30%;
        margin: 0 auto;
        border-radius: 10.5063px;
        color: #fff;
        background: #A259FF;
        border-radius: 5px;
        margin-top: 20px;
        transition: all .5s;
    }
    
}
@media (min-width: 377px) and (max-width: 858px){
    .hero-content{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 3px;
        margin-top: 130px;
    }

    .hero-content h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 23px;
        color: #fff;
        line-height: 30px;
        margin-bottom: 2px;
    }
    
    .hero-content p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12.8101px;
        padding: 0 50px;
        color: #898CA9;
    }
    
    .hero-content .btn1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12.8101px;
        padding: 5px;
        width: 30%;
        margin: 0 auto;
        border-radius: 10.5063px;
        color: #fff;
        background: #A259FF;
        border-radius: 5px;
        margin-top: 20px;
        transition: all .5s;
    }
    
}


/*Hero Mobile End********************/



/*Main start********************/
/*Main start********************/
/*Main start********************/
/*Main start********************/
/*Main end********************/
/*Main end********************/
/*Main end********************/
/*Main end********************/
/*Main end********************/
/*Main end********************/
/*Main end********************/
/*Main end********************/
/*Main end********************/
  a{
    text-decoration: none;
  }