@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
  }

body{
    overflow-x: hidden;
    width: 100%;
    background-color: #131722;
}

/*Header start********************/
nav{
    background: transparent;
    height: 80px;
    width: 100%;
  }
  label.logo img{
    color: white;
    width: 201.17px;
    height: 52px;
    padding: 15px 100px 0 50px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 90px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
  
  }
  a.active{
    background: #f5f5f5;
    color: #131722;
  }
  a:hover{
    background: #f5f5f5;
    color: #A259FF;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo img{
        padding: 22px 10px 0 30px;
        width: 132.72px;
        height: 35px;

    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (min-width: 953px) and (max-width: 1062px){
    label.logo img{
        padding-top: 50px;
        padding-left: 30px;
    }
    
    nav ul li{
      margin: 0;
        padding: 30px 0 0 0;

    }
  }
  
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #131722;
      top: 60px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #A259FF;
    }
    #check:checked ~ ul{
      left: 0;
      z-index: 1;
    }
  }
/*Header end********************/


/*crypto start********************/
.details{
  margin-top: 70px;
  background-color: #3B3F4A;
  padding: 10px 0px 10px 50px;
  color: #fff;
}


h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 19.3952px;
  line-height: 130%;
  margin-top: 10px;
  color: #fff;
}

h3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15.9552px;
  line-height: 130%;
  margin-top: 10px;
  color: #5C5C5C;
}

.btn{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16.8101px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10.5063px;
  color: #fff;
  background: #A259FF;
  border-radius: 5px;
  margin-top: 20px;
  transition: all .5s;
  cursor: pointer;
}

.btn:active, .btn:hover{
   color: #A259FF;
   background: #fff;
}

.boxes{
  margin: 50px auto -50px auto;
  display: flex;
  padding: 0px;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.box1{
  margin: 10px;
  border: 1px solid #fff;
  padding: 50px 80px;
  border-radius: 20px;
}

.box2{
  margin: 10px;
  border: 1px solid #fff;
  padding: 50px 80px;
  border-radius: 20px;
 
}

.box3{
  margin: 10px;
  border: 1px solid #fff;
  padding: 50px 80px;
  border-radius: 20px;
}
.box4{
  margin: 10px;
  border: 1px solid #fff;
  padding: 50px 80px;
  border-radius: 20px;
 
  
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto 0 auto;
  width: 70%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}

.link img{
  width: 12%;
  height: 12%;
  margin-left: 8px;
}

.link:hover,.link:active{
  transform: translateY(-5px);
  transition: all .5s;
  

}
a .link .text{
  color: #A259FF;
  margin-right: 0px;
  font-size: 12px;
}


@media (max-width: 1100px){
   .boxes{
    flex-direction: column;
   }

   .link img{
    width: 12%;
    height: 12%;
    
   }
}

/*crypto end********************/
